
.movie-container {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
  }
  
  .movie-container select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding: 5px 15px;
    margin-bottom: 40px;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .container {
    perspective: 1000px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .selected {
    background-color: #0081cb;
  }
  
  .occupied {
    background-color: #fff;
  }
  
  .seat:nth-of-type(2) {
    margin-right: 18px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  
  .showcase {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    /* color: #777; */
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .showcase li small {
    margin-left: 2px;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .screen {
    background: #fff;
    height: 70px;
    width: 70%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255,255,255,0.7);
  }
  
  p.text {
    margin: 40px 0;
  }
  
  p.text span {
    color: #0081cb;
    font-weight: 600;
    box-sizing: content-box;
  }
  
  .credits a {
    color: #fff;
  }
  
  #booking {
    margin-top: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* #booking .ticket-select {
    margin: 32px 0;
    padding: 20px;
    color: var(--text-color);
  }
  
  #booking .ticket-select select {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 16px;
  } */
  
  .booking-container {
    padding: 40px 20px;
    min-width: 60vh;
    /* background-color: #333; */
  }
  
  #booking .booking-seat-infos  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #booking .seat-status {
    /* color: #777; */
    background: rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    border-radius: 8px;
    list-style-type: none;
    margin-top: 24px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .seat-status li {
    width: calc(100% / 2 - 20px);
    margin: 8px 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .seat-status li p {
    margin-left: 12px;
    width: 4rem;
  }
  
  .seat-status .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1.1);
  }
  
  #booking .seats-screen {
    perspective: 1000px;
    margin-bottom: 30px;
  }
  
  #booking .screen {
    background-color: var(--text-color);
    display: inline-block;
    width: 100%;
    height: 120px;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
  }
  
  #booking .row-seat {
    display: flex;
  }
  
  