.UserManagement {
  padding: 40px 30px 100px 40px;
  border: solid white;
  background-color: #f2f2f2;
}
.text-center {
  text-align: center;
  font-weight: 500;
}
#users {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#users td,
#users th {
  border: 1px solid #ddd;
  padding: 8px;
}
#users tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users tr:hover {
  background-color: #ddd;
}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
