.column-info-ticket {
    float: left;
    width: 40%;
    padding: 10px;
    height: 400px; /* Should be removed. Only for demonstration */
  }
.column-QRCode {
    float: right;
    width: 40%;
    padding: 10px;
    height: 400px; /* Should be removed. Only for demonstration */
}

.row-info {
    content: "";
    display: table;
    clear: both;
    height: auto;
}
@media screen and (max-width: 600px) {
    .column-info-ticket {
        width: 100%;
    }
    .column-QRCode {
        width: 100%;
    }
  }

.payment-section {
    background-color: rgb(235, 229, 198);
    height: 480px;
    margin-left: 10%;
    margin-right: 10%;
}

.payment-movie-infos {
    line-height: 1.4;
}
.payment-movie-name {
    font-size: 1.2rem;
    font-weight: 700;
}
.payment-movie-date, .payment-movie-time {
    font-size: 1rem;
}
.cinema-name, .payment-room-info label, .payment-price label {
    font-weight: 600;
    font-size: 1.1rem;
    color: #555;
    display: inline-block;
    padding: 6px 0;
}

.payment-movie-room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.payment-room-info {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 20px);
}

.payment-price {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 20px);
}
