.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.6);
}

.backdrop .modal {
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 300;
    height: 60%;
    width: 100%;
    margin: 0 auto;
    color: white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
}

@media screen and (max-width: 1180px){
    .backdrop .modal {
        height: 70%;
    }
}

@media screen and(max-width: 600px) {
    .backdrop .modal {
        height: 80%;
    }
}
.container {
    position: relative;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.94) 60%, transparent);
}
@media screen and (max-width: 1180px) {
    .backdrop .modal .container {
        background: linear-gradient(90deg, 
        rgba(0, 0, 0, 0.95) 40%,
        rgba(0, 0, 0, 0.733),
        transparent);
        width: 88%;
    }
}

@media screen and (max-width: 980px) {
    .backdrop .modal .container {
        background: linear-gradient(90deg, 
        rgba(0, 0, 0, 0.95) 50%,
        rgba(0, 0, 0, 0.733),
        transparent);
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .backdrop .modal .container {
        background: linear-gradient(90deg, 
        rgba(0, 0, 0, 0.95) 60%,
        rgba(0, 0, 0, 0.733),
        transparent); 
    }
}
.movie-info {
    width: 65%;
    height: 100%;
    padding-left: 24px;
    color: white;
    font-size: 20px;
    padding-top: 30px;
}

@media screen and(max-width: 600px){
    .movie-info {
        font-size: 16px;
        width: 80%;
    }
}
.movie-title {
    margin-top: 30px;
}
.statistical {
    margin-top: 20px;
    display: flex;
}

/*
*/

.showBackdrop {
    display: block;
}

.hideBackdrop {
    display: none;
}

.showModal {
    top: 25%;
    opacity: 1;
    left: 0;
    visibility: visible;
    transition: 00.3s ease-in-out;
}

.hideModal {
    top: 0;
    opacity: 0;
    visibility: visible;
    transition: 00.3s ease-in-out;
}