body {
    overflow: hidden;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 40px;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

}

.nav-link li {
    margin-left: 1rem;
    list-style: none;

}
.nav-link {
    display: flex;
}
.nav-link a {
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    margin-right: 1rem;
}

.nav-link a:hover {
    color: orangered;

}
/*nav mobile*/

.container-navbar .menu-icons {
    display: none;
}

@media screen and 
(max-width: 600px) {
    .nav-link {
        display: none;
        border: 2px solid white;
        /* z-index: 111; */
    }
    .container-navbar .menu-icons {
        display: block;
    }
    .container-navbar #nav-link-mobile , 
    .container-navbar #nav-link-mobile-hide {
        display: block;
        position: absolute;
        left: 0;
        top: 8rem;
        width: 100%;
        background: #ddcecedc;
        padding-bottom: 5px;
        transition: all 0.3s;
    }
    @keyframes slide-in {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }
    @keyframes slide-in {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100);
        }
    }
    .container-navbar #nav-link-mobile {
        animation: slide-in 0.5s ease-in-out;
    }
    .container-navbar #nav-link-mobile-hide {
        left: 100%;
        animation: slide-out 0.5s ease-in-out;
    }
    .container-navbar #nav-link-mobile li, 
    .container-navbar #nav-link-mobile-hide li{
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid #fff;
        margin: 0 3rem;
    }

    .container-navbar #nav-link-mobile li:last-child {
        border-bottom: none;

    }
    .container-navbar #nav-link-mobile-hide li:last-child {
        border-bottom: none;
    }
    .container-navbar #nav-link-mobile {
        animation: slide-in 0.5s ease-in-out;
    }
    .container-navbar #nav-link-mobile-hide {
        animation: slide-out 0.5s ease-in-out;
    }
}
